.navStyle{
  background-color: #C90024;
  /* background-color: rgb(18, 18, 18); */
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
#cart{
  width: 400px;
  height: 70vh;
  position: fixed;
  top: 0;
  /* right: -500px; */
  right: -500px;
  z-index: 99999;
  background-color: rgb(248, 248, 248);
  box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.06);
  transition: 0.4s ease;

}
#bill{
  width: 400px;
  height: 30vh;
  position: fixed;
  bottom: 0;
  right: -500px;
  z-index: 9999;
  background-color: rgb(241, 241, 241);
  transition: 0.4s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 30px;
}
.billFlex{
  display: flex;
}

.emptySign{
  text-align: center;
  color: #c0c0c0;
  margin-top: 150px;
}

.payBtn{
  Margin: 15px auto;
  padding: 5px 20px;
  font-size: 20px;
}

.closeCart{
  font-size: 25px;
}
.closeCart:hover{
  cursor: pointer;
}

#cart.active{
  right: 0;
}

.cartList{
  display: flex;
  padding-top: 30px;
  border-bottom: 1px solid rgb(218, 218, 218);

}
.cartProductImg{
  width: 60px;
  height: 45px;
  margin-top: 5px;
}
.cartProductDetail{
  width: 250px;
  padding-left: 25px;
}
.cartProductRemove{
  padding-left: 15px;
  padding-top: 16px;
  cursor: pointer;
}
.cartProductRemove:hover{
  color: rgb(207, 5, 5);
}
.rateText{
  text-align: end;
  padding-right: 20px;
}


.logo{
  width: 60px;
}

.orderBtn{
  padding-left: 0;
}
.orderBtn:hover{
  cursor: pointer;
}
.banner{
  background-image: url("https://www.pizzahut.co.in/order/images/backgrounds/in/en-IN/home-bg-lg.8b53689d905f4a70e8fe0edbcac80203.jpg");
  height: 400px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: auto;
}


.footStyle{
  background-color: #0f0f0f;
}

a{
  text-decoration: none !important;
}

.loading{
  margin: 80vh 0;
}
.mainContainer{
  margin-bottom: 10vh;
}

.smallBanner{
  width: 42%;
  border-radius: 20px;
  margin: 10px 4%;
  top: 0;
  transition: 0.3S ease;
}
.smallBanner:hover{
  position: relative;
  top: -5px;
}

.cardTitle{
  font-size: 24px;
  font-style: italic;
}
.vMark{
  font-size: 9px;
  color:rgb(6, 173, 6);
  border: 1.5px solid rgb(6, 173, 6);
  padding: 3px 2.6px 2px 2px;
  position: relative;
  top: -3px;
}
.nvMark{
  font-size: 9px;
  color:rgb(207, 5, 5);
  border: 1.5px solid rgb(207, 5, 5);
  padding: 3px 2.6px 2px 2px;
  position: relative;
  top: -3px;
}
.hide{
  display: none;
}
.quantityField{
  width: 60px;
  height: 36px;
  display: inline;
  border-radius: 0 !important;
  text-align: end !important;
  position: relative;
  top: 1px;
}
.cardFooter{
  display: flex;
}

.minusBtn,.plusBtn{
  border-radius: 0 !important;
  border: 1px solid rgb(219, 219, 219); 
  width: 20px;
  height: 36px;
  position: relative;
  background-color: rgb(250, 250, 250);
  color: #0f0f0f;
  font-weight: 500;
}

.minusBtn{
  border-top-left-radius: 7px !important;
  border-bottom-left-radius: 7px !important;
  padding-left:10px;
  padding-right:14px;
}
.plusBtn{
  padding-left:5px;
  padding-Right:19px;
  border-top-right-radius: 7px !important;
  border-bottom-right-radius: 7px !important;
}

.selectField{
  margin-top: 10px;
}
.qty{
  padding: 5.5px 12px;
  border-top: 1px solid rgb(219, 219, 219); 
  border-bottom: 1px solid rgb(219, 219, 219); 
  height: 35.9px; 
}

.addToCartBtn{
  width: 19vh;
}

.soloCard{
  border-radius: 10px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.06);
  transition: 0.5s ease;

}
.soloCard:hover{
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.06);
}

.switch{
  display: inline-block;
}

.vnvFilter{
  float: right;
  position: relative;
  top: -90px;
}






.form-switch .form-check-input:focus {
  border-color: rgba(0, 0, 0, 0.25);
  outline: 0;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(0,0,0,0.25)'/></svg>");
}
.form-switch .form-check-input:checked {
  background-color: #141414;
  border-color: #141414;
  border: none;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/></svg>");
}

